@font-face {
    font-family: 'icomoon';
    src:    url('../icons/icomoon.eot?ennyu1');
    src:    url('../icons/icomoon.eot?ennyu1#iefix') format('embedded-opentype'),
        url('../icons/icomoon.ttf?ennyu1') format('truetype'),
        url('../icons/icomoon.woff?ennyu1') format('woff'),
        url('../icons/icomoon.svg?ennyu1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-music_beginning_button:before {
    content: "\ea68";
}
.icon-music_bell:before {
    content: "\ea69";
}
.icon-music_cd:before {
    content: "\ea6a";
}
.icon-music_diapason:before {
    content: "\ea6b";
}
.icon-music_eject_button:before {
    content: "\ea6c";
}
.icon-music_end_button:before {
    content: "\ea6d";
}
.icon-music_fastforward_button:before {
    content: "\ea6e";
}
.icon-music_headphones:before {
    content: "\ea6f";
}
.icon-music_ipod:before {
    content: "\ea70";
}
.icon-music_loudspeaker:before {
    content: "\ea71";
}
.icon-music_microphone:before {
    content: "\ea72";
}
.icon-music_microphone_old:before {
    content: "\ea73";
}
.icon-music_mixer:before {
    content: "\ea74";
}
.icon-music_mute:before {
    content: "\ea75";
}
.icon-music_note_multiple:before {
    content: "\ea76";
}
.icon-music_note_single:before {
    content: "\ea77";
}
.icon-music_pause_button:before {
    content: "\ea78";
}
.icon-music_play_button:before {
    content: "\ea79";
}
.icon-music_playlist:before {
    content: "\ea7a";
}
.icon-music_radio_ghettoblaster:before {
    content: "\ea7b";
}
.icon-music_radio_portable:before {
    content: "\ea7c";
}
.icon-music_record:before {
    content: "\ea7d";
}
.icon-music_recordplayer:before {
    content: "\ea7e";
}
.icon-music_repeat_button:before {
    content: "\ea7f";
}
.icon-music_rewind_button:before {
    content: "\ea80";
}
.icon-music_shuffle_button:before {
    content: "\ea81";
}
.icon-music_stop_button:before {
    content: "\ea82";
}
.icon-music_tape:before {
    content: "\ea83";
}
.icon-music_volume_down:before {
    content: "\ea84";
}
.icon-music_volume_up:before {
    content: "\ea85";
}
.icon-ecommerce_bag:before {
    content: "\ea86";
}
.icon-ecommerce_bag_check:before {
    content: "\ea87";
}
.icon-ecommerce_bag_cloud:before {
    content: "\ea88";
}
.icon-ecommerce_bag_download:before {
    content: "\ea89";
}
.icon-ecommerce_bag_minus:before {
    content: "\ea8a";
}
.icon-ecommerce_bag_plus:before {
    content: "\ea8b";
}
.icon-ecommerce_bag_refresh:before {
    content: "\ea8c";
}
.icon-ecommerce_bag_remove:before {
    content: "\ea8d";
}
.icon-ecommerce_bag_search:before {
    content: "\ea8e";
}
.icon-ecommerce_bag_upload:before {
    content: "\ea8f";
}
.icon-ecommerce_banknote:before {
    content: "\ea90";
}
.icon-ecommerce_banknotes:before {
    content: "\ea91";
}
.icon-ecommerce_basket:before {
    content: "\ea92";
}
.icon-ecommerce_basket_check:before {
    content: "\ea93";
}
.icon-ecommerce_basket_cloud:before {
    content: "\ea94";
}
.icon-ecommerce_basket_download:before {
    content: "\ea95";
}
.icon-ecommerce_basket_minus:before {
    content: "\ea96";
}
.icon-ecommerce_basket_plus:before {
    content: "\ea97";
}
.icon-ecommerce_basket_refresh:before {
    content: "\ea98";
}
.icon-ecommerce_basket_remove:before {
    content: "\ea99";
}
.icon-ecommerce_basket_search:before {
    content: "\ea9a";
}
.icon-ecommerce_basket_upload:before {
    content: "\ea9b";
}
.icon-ecommerce_bath:before {
    content: "\ea9c";
}
.icon-ecommerce_cart:before {
    content: "\ea9d";
}
.icon-ecommerce_cart_check:before {
    content: "\ea9e";
}
.icon-ecommerce_cart_cloud:before {
    content: "\ea9f";
}
.icon-ecommerce_cart_content:before {
    content: "\eaa0";
}
.icon-ecommerce_cart_download:before {
    content: "\eaa1";
}
.icon-ecommerce_cart_minus:before {
    content: "\eaa2";
}
.icon-ecommerce_cart_plus:before {
    content: "\eaa3";
}
.icon-ecommerce_cart_refresh:before {
    content: "\eaa4";
}
.icon-ecommerce_cart_remove:before {
    content: "\eaa5";
}
.icon-ecommerce_cart_search:before {
    content: "\eaa6";
}
.icon-ecommerce_cart_upload:before {
    content: "\eaa7";
}
.icon-ecommerce_cent:before {
    content: "\eaa8";
}
.icon-ecommerce_colon:before {
    content: "\eaa9";
}
.icon-ecommerce_creditcard:before {
    content: "\eaaa";
}
.icon-ecommerce_diamond:before {
    content: "\eaab";
}
.icon-ecommerce_dollar:before {
    content: "\eaac";
}
.icon-ecommerce_euro:before {
    content: "\eaad";
}
.icon-ecommerce_franc:before {
    content: "\eaae";
}
.icon-ecommerce_gift:before {
    content: "\eaaf";
}
.icon-ecommerce_graph_decrease:before {
    content: "\eab0";
}
.icon-ecommerce_graph_increase:before {
    content: "\eab1";
}
.icon-ecommerce_graph1:before {
    content: "\eab2";
}
.icon-ecommerce_graph2:before {
    content: "\eab3";
}
.icon-ecommerce_graph3:before {
    content: "\eab4";
}
.icon-ecommerce_guarani:before {
    content: "\eab5";
}
.icon-ecommerce_kips:before {
    content: "\eab6";
}
.icon-ecommerce_lira:before {
    content: "\eab7";
}
.icon-ecommerce_megaphone:before {
    content: "\eab8";
}
.icon-ecommerce_money:before {
    content: "\eab9";
}
.icon-ecommerce_naira:before {
    content: "\eaba";
}
.icon-ecommerce_pesos:before {
    content: "\eabb";
}
.icon-ecommerce_pound:before {
    content: "\eabc";
}
.icon-ecommerce_receipt:before {
    content: "\eabd";
}
.icon-ecommerce_receipt_bath:before {
    content: "\eabe";
}
.icon-ecommerce_receipt_cent:before {
    content: "\eabf";
}
.icon-ecommerce_receipt_dollar:before {
    content: "\eac0";
}
.icon-ecommerce_receipt_euro:before {
    content: "\eac1";
}
.icon-ecommerce_receipt_franc:before {
    content: "\eac2";
}
.icon-ecommerce_receipt_guarani:before {
    content: "\eac3";
}
.icon-ecommerce_receipt_kips:before {
    content: "\eac4";
}
.icon-ecommerce_receipt_lira:before {
    content: "\eac5";
}
.icon-ecommerce_receipt_naira:before {
    content: "\eac6";
}
.icon-ecommerce_receipt_pesos:before {
    content: "\eac7";
}
.icon-ecommerce_receipt_pound:before {
    content: "\eac8";
}
.icon-ecommerce_receipt_rublo:before {
    content: "\eac9";
}
.icon-ecommerce_receipt_rupee:before {
    content: "\eaca";
}
.icon-ecommerce_receipt_tugrik:before {
    content: "\eacb";
}
.icon-ecommerce_receipt_won:before {
    content: "\eacc";
}
.icon-ecommerce_receipt_yen:before {
    content: "\eacd";
}
.icon-ecommerce_receipt_yen2:before {
    content: "\eace";
}
.icon-ecommerce_recept_colon:before {
    content: "\eacf";
}
.icon-ecommerce_rublo:before {
    content: "\ead0";
}
.icon-ecommerce_rupee:before {
    content: "\ead1";
}
.icon-ecommerce_safe:before {
    content: "\ead2";
}
.icon-ecommerce_sale:before {
    content: "\ead3";
}
.icon-ecommerce_sales:before {
    content: "\ead4";
}
.icon-ecommerce_ticket:before {
    content: "\ead5";
}
.icon-ecommerce_tugriks:before {
    content: "\ead6";
}
.icon-ecommerce_wallet:before {
    content: "\ead7";
}
.icon-ecommerce_won:before {
    content: "\ead8";
}
.icon-ecommerce_yen:before {
    content: "\ead9";
}
.icon-ecommerce_yen2:before {
    content: "\eada";
}
.icon-basic_accelerator:before {
    content: "\eadb";
}
.icon-basic_alarm:before {
    content: "\eadc";
}
.icon-basic_anchor:before {
    content: "\eadd";
}
.icon-basic_anticlockwise:before {
    content: "\eade";
}
.icon-basic_archive:before {
    content: "\eadf";
}
.icon-basic_archive_full:before {
    content: "\eae0";
}
.icon-basic_ban:before {
    content: "\eae1";
}
.icon-basic_battery_charge:before {
    content: "\eae2";
}
.icon-basic_battery_empty:before {
    content: "\eae3";
}
.icon-basic_battery_full:before {
    content: "\eae4";
}
.icon-basic_battery_half:before {
    content: "\eae5";
}
.icon-basic_bolt:before {
    content: "\eae6";
}
.icon-basic_book:before {
    content: "\eae7";
}
.icon-basic_book_pen:before {
    content: "\eae8";
}
.icon-basic_book_pencil:before {
    content: "\eae9";
}
.icon-basic_bookmark:before {
    content: "\eaea";
}
.icon-basic_calculator:before {
    content: "\eaeb";
}
.icon-basic_calendar:before {
    content: "\eaec";
}
.icon-basic_cards_diamonds:before {
    content: "\eaed";
}
.icon-basic_cards_hearts:before {
    content: "\eaee";
}
.icon-basic_case:before {
    content: "\eaef";
}
.icon-basic_chronometer:before {
    content: "\eaf0";
}
.icon-basic_clessidre:before {
    content: "\eaf1";
}
.icon-basic_clock:before {
    content: "\eaf2";
}
.icon-basic_clockwise:before {
    content: "\eaf3";
}
.icon-basic_cloud:before {
    content: "\eaf4";
}
.icon-basic_clubs:before {
    content: "\eaf5";
}
.icon-basic_compass:before {
    content: "\eaf6";
}
.icon-basic_cup:before {
    content: "\eaf7";
}
.icon-basic_diamonds:before {
    content: "\eaf8";
}
.icon-basic_display:before {
    content: "\eaf9";
}
.icon-basic_download:before {
    content: "\eafa";
}
.icon-basic_exclamation:before {
    content: "\eafb";
}
.icon-basic_eye:before {
    content: "\eafc";
}
.icon-basic_eye_closed:before {
    content: "\eafd";
}
.icon-basic_female:before {
    content: "\eafe";
}
.icon-basic_flag1:before {
    content: "\eaff";
}
.icon-basic_flag2:before {
    content: "\eb00";
}
.icon-basic_floppydisk:before {
    content: "\eb01";
}
.icon-basic_folder:before {
    content: "\eb02";
}
.icon-basic_folder_multiple:before {
    content: "\eb03";
}
.icon-basic_gear:before {
    content: "\eb04";
}
.icon-basic_geolocalize-01:before {
    content: "\eb05";
}
.icon-basic_geolocalize-05:before {
    content: "\eb06";
}
.icon-basic_globe:before {
    content: "\eb07";
}
.icon-basic_gunsight:before {
    content: "\eb08";
}
.icon-basic_hammer:before {
    content: "\eb09";
}
.icon-basic_headset:before {
    content: "\eb0a";
}
.icon-basic_heart:before {
    content: "\eb0b";
}
.icon-basic_heart_broken:before {
    content: "\eb0c";
}
.icon-basic_helm:before {
    content: "\eb0d";
}
.icon-basic_home:before {
    content: "\eb0e";
}
.icon-basic_info:before {
    content: "\eb0f";
}
.icon-basic_ipod:before {
    content: "\eb10";
}
.icon-basic_joypad:before {
    content: "\eb11";
}
.icon-basic_key:before {
    content: "\eb12";
}
.icon-basic_keyboard:before {
    content: "\eb13";
}
.icon-basic_laptop:before {
    content: "\eb14";
}
.icon-basic_life_buoy:before {
    content: "\eb15";
}
.icon-basic_lightbulb:before {
    content: "\eb16";
}
.icon-basic_link:before {
    content: "\eb17";
}
.icon-basic_lock:before {
    content: "\eb18";
}
.icon-basic_lock_open:before {
    content: "\eb19";
}
.icon-basic_magic_mouse:before {
    content: "\eb1a";
}
.icon-basic_magnifier:before {
    content: "\eb1b";
}
.icon-basic_magnifier_minus:before {
    content: "\eb1c";
}
.icon-basic_magnifier_plus:before {
    content: "\eb1d";
}
.icon-basic_mail:before {
    content: "\eb1e";
}
.icon-basic_mail_multiple:before {
    content: "\eb1f";
}
.icon-basic_mail_open:before {
    content: "\eb20";
}
.icon-basic_mail_open_text:before {
    content: "\eb21";
}
.icon-basic_male:before {
    content: "\eb22";
}
.icon-basic_map:before {
    content: "\eb23";
}
.icon-basic_message:before {
    content: "\eb24";
}
.icon-basic_message_multiple:before {
    content: "\eb25";
}
.icon-basic_message_txt:before {
    content: "\eb26";
}
.icon-basic_mixer2:before {
    content: "\eb27";
}
.icon-basic_mouse:before {
    content: "\eb28";
}
.icon-basic_notebook:before {
    content: "\eb29";
}
.icon-basic_notebook_pen:before {
    content: "\eb2a";
}
.icon-basic_notebook_pencil:before {
    content: "\eb2b";
}
.icon-basic_paperplane:before {
    content: "\eb2c";
}
.icon-basic_pencil_ruler:before {
    content: "\eb2d";
}
.icon-basic_pencil_ruler_pen:before {
    content: "\eb2e";
}
.icon-basic_photo:before {
    content: "\eb2f";
}
.icon-basic_picture:before {
    content: "\eb30";
}
.icon-basic_picture_multiple:before {
    content: "\eb31";
}
.icon-basic_pin1:before {
    content: "\eb32";
}
.icon-basic_pin2:before {
    content: "\eb33";
}
.icon-basic_postcard:before {
    content: "\eb34";
}
.icon-basic_postcard_multiple:before {
    content: "\eb35";
}
.icon-basic_printer:before {
    content: "\eb36";
}
.icon-basic_question:before {
    content: "\eb37";
}
.icon-basic_rss:before {
    content: "\eb38";
}
.icon-basic_server:before {
    content: "\eb39";
}
.icon-basic_server_cloud:before {
    content: "\eb3a";
}
.icon-basic_server_download:before {
    content: "\eb3b";
}
.icon-basic_server_upload:before {
    content: "\eb3c";
}
.icon-basic_server2:before {
    content: "\eb3d";
}
.icon-basic_settings:before {
    content: "\eb3e";
}
.icon-basic_share:before {
    content: "\eb3f";
}
.icon-basic_sheet:before {
    content: "\eb40";
}
.icon-basic_sheet_multiple:before {
    content: "\eb41";
}
.icon-basic_sheet_pen:before {
    content: "\eb42";
}
.icon-basic_sheet_pencil:before {
    content: "\eb43";
}
.icon-basic_sheet_txt:before {
    content: "\eb44";
}
.icon-basic_signs:before {
    content: "\eb45";
}
.icon-basic_smartphone:before {
    content: "\eb46";
}
.icon-basic_spades:before {
    content: "\eb47";
}
.icon-basic_spread:before {
    content: "\eb48";
}
.icon-basic_spread_bookmark:before {
    content: "\eb49";
}
.icon-basic_spread_text:before {
    content: "\eb4a";
}
.icon-basic_spread_text_bookmark:before {
    content: "\eb4b";
}
.icon-basic_star:before {
    content: "\eb4c";
}
.icon-basic_tablet:before {
    content: "\eb4d";
}
.icon-basic_target:before {
    content: "\eb4e";
}
.icon-basic_todo:before {
    content: "\eb4f";
}
.icon-basic_todo_pen:before {
    content: "\eb50";
}
.icon-basic_todo_pencil:before {
    content: "\eb51";
}
.icon-basic_todo_txt:before {
    content: "\eb52";
}
.icon-basic_todolist_pen:before {
    content: "\eb53";
}
.icon-basic_todolist_pencil:before {
    content: "\eb54";
}
.icon-basic_trashcan:before {
    content: "\eb55";
}
.icon-basic_trashcan_full:before {
    content: "\eb56";
}
.icon-basic_trashcan_refresh:before {
    content: "\eb57";
}
.icon-basic_trashcan_remove:before {
    content: "\eb58";
}
.icon-basic_upload:before {
    content: "\eb59";
}
.icon-basic_usb:before {
    content: "\eb5a";
}
.icon-basic_video:before {
    content: "\eb5b";
}
.icon-basic_watch:before {
    content: "\eb5c";
}
.icon-basic_webpage:before {
    content: "\eb5d";
}
.icon-basic_webpage_img_txt:before {
    content: "\eb5e";
}
.icon-basic_webpage_multiple:before {
    content: "\eb5f";
}
.icon-basic_webpage_txt:before {
    content: "\eb60";
}
.icon-basic_world:before {
    content: "\eb61";
}
.icon-arrow_back:before {
    content: "\e900";
}
.icon-arrow_carrot_up_alt:before {
    content: "\e901";
}
.icon-arrow_carrot-2down:before {
    content: "\e902";
}
.icon-arrow_carrot-2down_alt2:before {
    content: "\e903";
}
.icon-arrow_carrot-2dwnn_alt:before {
    content: "\e904";
}
.icon-arrow_carrot-2left:before {
    content: "\e905";
}
.icon-arrow_carrot-2left_alt:before {
    content: "\e906";
}
.icon-arrow_carrot-2left_alt2:before {
    content: "\e907";
}
.icon-arrow_carrot-2right:before {
    content: "\e908";
}
.icon-arrow_carrot-2right_alt:before {
    content: "\e909";
}
.icon-arrow_carrot-2right_alt2:before {
    content: "\e90a";
}
.icon-arrow_carrot-2up:before {
    content: "\e90b";
}
.icon-arrow_carrot-2up_alt:before {
    content: "\e90c";
}
.icon-arrow_carrot-2up_alt2:before {
    content: "\e90d";
}
.icon-arrow_carrot-down:before {
    content: "\e90e";
}
.icon-arrow_carrot-down_alt:before {
    content: "\e90f";
}
.icon-arrow_carrot-down_alt2:before {
    content: "\e910";
}
.icon-arrow_carrot-left:before {
    content: "\e911";
}
.icon-arrow_carrot-left_alt:before {
    content: "\e912";
}
.icon-arrow_carrot-left_alt2:before {
    content: "\e913";
}
.icon-arrow_carrot-right:before {
    content: "\e914";
}
.icon-arrow_carrot-right_alt:before {
    content: "\e915";
}
.icon-arrow_carrot-right_alt2:before {
    content: "\e916";
}
.icon-arrow_carrot-up:before {
    content: "\e917";
}
.icon-arrow_carrot-up_alt2:before {
    content: "\e918";
}
.icon-arrow_condense:before {
    content: "\e919";
}
.icon-arrow_condense_alt:before {
    content: "\e91a";
}
.icon-arrow_down:before {
    content: "\e91b";
}
.icon-arrow_down_alt:before {
    content: "\e91c";
}
.icon-arrow_expand:before {
    content: "\e91d";
}
.icon-arrow_expand_alt:before {
    content: "\e91e";
}
.icon-arrow_expand_alt2:before {
    content: "\e91f";
}
.icon-arrow_expand_alt3:before {
    content: "\e920";
}
.icon-arrow_left:before {
    content: "\e921";
}
.icon-arrow_left_alt:before {
    content: "\e922";
}
.icon-arrow_left-down:before {
    content: "\e923";
}
.icon-arrow_left-down_alt:before {
    content: "\e924";
}
.icon-arrow_left-right:before {
    content: "\e925";
}
.icon-arrow_left-right_alt:before {
    content: "\e926";
}
.icon-arrow_left-up:before {
    content: "\e927";
}
.icon-arrow_left-up_alt:before {
    content: "\e928";
}
.icon-arrow_move:before {
    content: "\e929";
}
.icon-arrow_right:before {
    content: "\e92a";
}
.icon-arrow_right_alt:before {
    content: "\e92b";
}
.icon-arrow_right-down:before {
    content: "\e92c";
}
.icon-arrow_right-down_alt:before {
    content: "\e92d";
}
.icon-arrow_right-up:before {
    content: "\e92e";
}
.icon-arrow_right-up_alt:before {
    content: "\e92f";
}
.icon-arrow_triangle-down:before {
    content: "\e930";
}
.icon-arrow_triangle-down_alt:before {
    content: "\e931";
}
.icon-arrow_triangle-down_alt2:before {
    content: "\e932";
}
.icon-arrow_triangle-left:before {
    content: "\e933";
}
.icon-arrow_triangle-left_alt:before {
    content: "\e934";
}
.icon-arrow_triangle-left_alt2:before {
    content: "\e935";
}
.icon-arrow_triangle-right:before {
    content: "\e936";
}
.icon-arrow_triangle-right_alt:before {
    content: "\e937";
}
.icon-arrow_triangle-right_alt2:before {
    content: "\e938";
}
.icon-arrow_triangle-up:before {
    content: "\e939";
}
.icon-arrow_triangle-up_alt:before {
    content: "\e93a";
}
.icon-arrow_triangle-up_alt2:before {
    content: "\e93b";
}
.icon-arrow_up:before {
    content: "\e93c";
}
.icon-arrow_up_alt:before {
    content: "\e93d";
}
.icon-arrow_up-down_alt:before {
    content: "\e93e";
}
.icon-arrow-up-down:before {
    content: "\e93f";
}
.icon-icon_adjust-horiz:before {
    content: "\e940";
}
.icon-icon_adjust-vert:before {
    content: "\e941";
}
.icon-icon_archive:before {
    content: "\e942";
}
.icon-icon_archive_alt:before {
    content: "\e943";
}
.icon-icon_bag:before {
    content: "\e944";
}
.icon-icon_bag_alt:before {
    content: "\e945";
}
.icon-icon_balance:before {
    content: "\e946";
}
.icon-icon_blocked:before {
    content: "\e947";
}
.icon-icon_book:before {
    content: "\e948";
}
.icon-icon_book_alt:before {
    content: "\e949";
}
.icon-icon_box-checked:before {
    content: "\e94a";
}
.icon-icon_box-empty:before {
    content: "\e94b";
}
.icon-icon_box-selected:before {
    content: "\e94c";
}
.icon-icon_briefcase:before {
    content: "\e94d";
}
.icon-icon_briefcase_alt:before {
    content: "\e94e";
}
.icon-icon_building:before {
    content: "\e94f";
}
.icon-icon_building_alt:before {
    content: "\e950";
}
.icon-icon_calculator_alt:before {
    content: "\e951";
}
.icon-icon_calendar:before {
    content: "\e952";
}
.icon-icon_calulator:before {
    content: "\e953";
}
.icon-icon_camera:before {
    content: "\e954";
}
.icon-icon_camera_alt:before {
    content: "\e955";
}
.icon-icon_cart:before {
    content: "\e956";
}
.icon-icon_cart_alt:before {
    content: "\e957";
}
.icon-icon_chat:before {
    content: "\e958";
}
.icon-icon_chat_alt:before {
    content: "\e959";
}
.icon-icon_check:before {
    content: "\e95a";
}
.icon-icon_check_alt:before {
    content: "\e95b";
}
.icon-icon_check_alt2:before {
    content: "\e95c";
}
.icon-icon_circle-empty:before {
    content: "\e95d";
}
.icon-icon_circle-slelected:before {
    content: "\e95e";
}
.icon-icon_clipboard:before {
    content: "\e95f";
}
.icon-icon_clock:before {
    content: "\e960";
}
.icon-icon_clock_alt:before {
    content: "\e961";
}
.icon-icon_close:before {
    content: "\e962";
}
.icon-icon_close_alt:before {
    content: "\e963";
}
.icon-icon_close_alt2:before {
    content: "\e964";
}
.icon-icon_cloud:before {
    content: "\e965";
}
.icon-icon_cloud_alt:before {
    content: "\e966";
}
.icon-icon_cloud-download:before {
    content: "\e967";
}
.icon-icon_cloud-download_alt:before {
    content: "\e968";
}
.icon-icon_cloud-upload:before {
    content: "\e969";
}
.icon-icon_cloud-upload_alt:before {
    content: "\e96a";
}
.icon-icon_cog:before {
    content: "\e96b";
}
.icon-icon_cogs:before {
    content: "\e96c";
}
.icon-icon_comment:before {
    content: "\e96d";
}
.icon-icon_comment_alt:before {
    content: "\e96e";
}
.icon-icon_compass:before {
    content: "\e96f";
}
.icon-icon_compass_alt:before {
    content: "\e970";
}
.icon-icon_cone:before {
    content: "\e971";
}
.icon-icon_cone_alt:before {
    content: "\e972";
}
.icon-icon_contacts:before {
    content: "\e973";
}
.icon-icon_contacts_alt:before {
    content: "\e974";
}
.icon-icon_creditcard:before {
    content: "\e975";
}
.icon-icon_currency:before {
    content: "\e976";
}
.icon-icon_currency_alt:before {
    content: "\e977";
}
.icon-icon_cursor:before {
    content: "\e978";
}
.icon-icon_cursor_alt:before {
    content: "\e979";
}
.icon-icon_datareport:before {
    content: "\e97a";
}
.icon-icon_datareport_alt:before {
    content: "\e97b";
}
.icon-icon_desktop:before {
    content: "\e97c";
}
.icon-icon_dislike:before {
    content: "\e97d";
}
.icon-icon_dislike_alt:before {
    content: "\e97e";
}
.icon-icon_document:before {
    content: "\e97f";
}
.icon-icon_document_alt:before {
    content: "\e980";
}
.icon-icon_documents:before {
    content: "\e981";
}
.icon-icon_documents_alt:before {
    content: "\e982";
}
.icon-icon_download:before {
    content: "\e983";
}
.icon-icon_drawer:before {
    content: "\e984";
}
.icon-icon_drawer_alt:before {
    content: "\e985";
}
.icon-icon_drive:before {
    content: "\e986";
}
.icon-icon_drive_alt:before {
    content: "\e987";
}
.icon-icon_easel:before {
    content: "\e988";
}
.icon-icon_easel_alt:before {
    content: "\e989";
}
.icon-icon_error-circle:before {
    content: "\e98a";
}
.icon-icon_error-circle_alt:before {
    content: "\e98b";
}
.icon-icon_error-oct:before {
    content: "\e98c";
}
.icon-icon_error-oct_alt:before {
    content: "\e98d";
}
.icon-icon_error-triangle:before {
    content: "\e98e";
}
.icon-icon_error-triangle_alt:before {
    content: "\e98f";
}
.icon-icon_film:before {
    content: "\e990";
}
.icon-icon_floppy:before {
    content: "\e991";
}
.icon-icon_floppy_alt:before {
    content: "\e992";
}
.icon-icon_flowchart:before {
    content: "\e993";
}
.icon-icon_flowchart_alt:before {
    content: "\e994";
}
.icon-icon_folder:before {
    content: "\e995";
}
.icon-icon_folder_download:before {
    content: "\e996";
}
.icon-icon_folder_upload:before {
    content: "\e997";
}
.icon-icon_folder-add:before {
    content: "\e998";
}
.icon-icon_folder-add_alt:before {
    content: "\e999";
}
.icon-icon_folder-alt:before {
    content: "\e99a";
}
.icon-icon_folder-open:before {
    content: "\e99b";
}
.icon-icon_folder-open_alt:before {
    content: "\e99c";
}
.icon-icon_genius:before {
    content: "\e99d";
}
.icon-icon_gift:before {
    content: "\e99e";
}
.icon-icon_gift_alt:before {
    content: "\e99f";
}
.icon-icon_globe:before {
    content: "\e9a0";
}
.icon-icon_globe_alt:before {
    content: "\e9a1";
}
.icon-icon_globe-2:before {
    content: "\e9a2";
}
.icon-icon_grid-2x2:before {
    content: "\e9a3";
}
.icon-icon_grid-3x3:before {
    content: "\e9a4";
}
.icon-icon_group:before {
    content: "\e9a5";
}
.icon-icon_headphones:before {
    content: "\e9a6";
}
.icon-icon_heart:before {
    content: "\e9a7";
}
.icon-icon_heart_alt:before {
    content: "\e9a8";
}
.icon-icon_hourglass:before {
    content: "\e9a9";
}
.icon-icon_house:before {
    content: "\e9aa";
}
.icon-icon_house_alt:before {
    content: "\e9ab";
}
.icon-icon_id:before {
    content: "\e9ac";
}
.icon-icon_id_alt:before {
    content: "\e9ad";
}
.icon-icon_id-2:before {
    content: "\e9ae";
}
.icon-icon_id-2_alt:before {
    content: "\e9af";
}
.icon-icon_image:before {
    content: "\e9b0";
}
.icon-icon_images:before {
    content: "\e9b1";
}
.icon-icon_info:before {
    content: "\e9b2";
}
.icon-icon_info_alt:before {
    content: "\e9b3";
}
.icon-icon_key:before {
    content: "\e9b4";
}
.icon-icon_key_alt:before {
    content: "\e9b5";
}
.icon-icon_laptop:before {
    content: "\e9b6";
}
.icon-icon_lifesaver:before {
    content: "\e9b7";
}
.icon-icon_lightbulb:before {
    content: "\e9b8";
}
.icon-icon_lightbulb_alt:before {
    content: "\e9b9";
}
.icon-icon_like:before {
    content: "\e9ba";
}
.icon-icon_like_alt:before {
    content: "\e9bb";
}
.icon-icon_link:before {
    content: "\e9bc";
}
.icon-icon_link_alt:before {
    content: "\e9bd";
}
.icon-icon_loading:before {
    content: "\e9be";
}
.icon-icon_lock:before {
    content: "\e9bf";
}
.icon-icon_lock_alt:before {
    content: "\e9c0";
}
.icon-icon_lock-open:before {
    content: "\e9c1";
}
.icon-icon_lock-open_alt:before {
    content: "\e9c2";
}
.icon-icon_mail:before {
    content: "\e9c3";
}
.icon-icon_mail_alt:before {
    content: "\e9c4";
}
.icon-icon_map:before {
    content: "\e9c5";
}
.icon-icon_map_alt:before {
    content: "\e9c6";
}
.icon-icon_menu:before {
    content: "\e9c7";
}
.icon-icon_menu-circle_alt:before {
    content: "\e9c8";
}
.icon-icon_menu-circle_alt2:before {
    content: "\e9c9";
}
.icon-icon_menu-square_alt:before {
    content: "\e9ca";
}
.icon-icon_menu-square_alt2:before {
    content: "\e9cb";
}
.icon-icon_mic:before {
    content: "\e9cc";
}
.icon-icon_mic_alt:before {
    content: "\e9cd";
}
.icon-icon_minus_alt:before {
    content: "\e9ce";
}
.icon-icon_minus_alt2:before {
    content: "\e9cf";
}
.icon-icon_minus-06:before {
    content: "\e9d0";
}
.icon-icon_minus-box:before {
    content: "\e9d1";
}
.icon-icon_mobile:before {
    content: "\e9d2";
}
.icon-icon_mug:before {
    content: "\e9d3";
}
.icon-icon_mug_alt:before {
    content: "\e9d4";
}
.icon-icon_music:before {
    content: "\e9d5";
}
.icon-icon_ol:before {
    content: "\e9d6";
}
.icon-icon_paperclip:before {
    content: "\e9d7";
}
.icon-icon_pause:before {
    content: "\e9d8";
}
.icon-icon_pause_alt:before {
    content: "\e9d9";
}
.icon-icon_pause_alt2:before {
    content: "\e9da";
}
.icon-icon_pencil:before {
    content: "\e9db";
}
.icon-icon_pencil_alt:before {
    content: "\e9dc";
}
.icon-icon_pencil-edit:before {
    content: "\e9dd";
}
.icon-icon_pencil-edit_alt:before {
    content: "\e9de";
}
.icon-icon_pens:before {
    content: "\e9df";
}
.icon-icon_pens_alt:before {
    content: "\e9e0";
}
.icon-icon_percent:before {
    content: "\e9e1";
}
.icon-icon_percent_alt:before {
    content: "\e9e2";
}
.icon-icon_phone:before {
    content: "\e9e3";
}
.icon-icon_piechart:before {
    content: "\e9e4";
}
.icon-icon_pin:before {
    content: "\e9e5";
}
.icon-icon_pin_alt:before {
    content: "\e9e6";
}
.icon-icon_plus:before {
    content: "\e9e7";
}
.icon-icon_plus_alt:before {
    content: "\e9e8";
}
.icon-icon_plus_alt2:before {
    content: "\e9e9";
}
.icon-icon_plus-box:before {
    content: "\e9ea";
}
.icon-icon_printer:before {
    content: "\e9eb";
}
.icon-icon_printer-alt:before {
    content: "\e9ec";
}
.icon-icon_profile:before {
    content: "\e9ed";
}
.icon-icon_pushpin:before {
    content: "\e9ee";
}
.icon-icon_pushpin_alt:before {
    content: "\e9ef";
}
.icon-icon_puzzle:before {
    content: "\e9f0";
}
.icon-icon_puzzle_alt:before {
    content: "\e9f1";
}
.icon-icon_question:before {
    content: "\e9f2";
}
.icon-icon_question_alt:before {
    content: "\e9f3";
}
.icon-icon_question_alt2:before {
    content: "\e9f4";
}
.icon-icon_quotations:before {
    content: "\e9f5";
}
.icon-icon_quotations_alt:before {
    content: "\e9f6";
}
.icon-icon_quotations_alt2:before {
    content: "\e9f7";
}
.icon-icon_refresh:before {
    content: "\e9f8";
}
.icon-icon_ribbon:before {
    content: "\e9f9";
}
.icon-icon_ribbon_alt:before {
    content: "\e9fa";
}
.icon-icon_rook:before {
    content: "\e9fb";
}
.icon-icon_search:before {
    content: "\e9fc";
}
.icon-icon_search_alt:before {
    content: "\e9fd";
}
.icon-icon_search2:before {
    content: "\e9fe";
}
.icon-icon_shield:before {
    content: "\e9ff";
}
.icon-icon_shield_alt:before {
    content: "\ea00";
}
.icon-icon_star:before {
    content: "\ea01";
}
.icon-icon_star_alt:before {
    content: "\ea02";
}
.icon-icon_star-half:before {
    content: "\ea03";
}
.icon-icon_star-half_alt:before {
    content: "\ea04";
}
.icon-icon_stop:before {
    content: "\ea05";
}
.icon-icon_stop_alt:before {
    content: "\ea06";
}
.icon-icon_stop_alt2:before {
    content: "\ea07";
}
.icon-icon_table:before {
    content: "\ea08";
}
.icon-icon_tablet:before {
    content: "\ea09";
}
.icon-icon_tag:before {
    content: "\ea0a";
}
.icon-icon_tag_alt:before {
    content: "\ea0b";
}
.icon-icon_tags:before {
    content: "\ea0c";
}
.icon-icon_tags_alt:before {
    content: "\ea0d";
}
.icon-icon_target:before {
    content: "\ea0e";
}
.icon-icon_tool:before {
    content: "\ea0f";
}
.icon-icon_toolbox:before {
    content: "\ea10";
}
.icon-icon_toolbox_alt:before {
    content: "\ea11";
}
.icon-icon_tools:before {
    content: "\ea12";
}
.icon-icon_trash:before {
    content: "\ea13";
}
.icon-icon_trash_alt:before {
    content: "\ea14";
}
.icon-icon_ul:before {
    content: "\ea15";
}
.icon-icon_upload:before {
    content: "\ea16";
}
.icon-icon_vol-mute:before {
    content: "\ea17";
}
.icon-icon_vol-mute_alt:before {
    content: "\ea18";
}
.icon-icon_volume-high:before {
    content: "\ea19";
}
.icon-icon_volume-high_alt:before {
    content: "\ea1a";
}
.icon-icon_volume-low:before {
    content: "\ea1b";
}
.icon-icon_volume-low_alt:before {
    content: "\ea1c";
}
.icon-icon_wallet:before {
    content: "\ea1d";
}
.icon-icon_wallet_alt:before {
    content: "\ea1e";
}
.icon-icon_zoom-in:before {
    content: "\ea1f";
}
.icon-icon_zoom-in_alt:before {
    content: "\ea20";
}
.icon-icon_zoom-out:before {
    content: "\ea21";
}
.icon-icon_zoom-out_alt:before {
    content: "\ea22";
}
.icon-social_blogger:before {
    content: "\ea23";
}
.icon-social_blogger_circle:before {
    content: "\ea24";
}
.icon-social_blogger_square:before {
    content: "\ea25";
}
.icon-social_delicious:before {
    content: "\ea26";
}
.icon-social_delicious_circle:before {
    content: "\ea27";
}
.icon-social_delicious_square:before {
    content: "\ea28";
}
.icon-social_deviantart:before {
    content: "\ea29";
}
.icon-social_deviantart_circle:before {
    content: "\ea2a";
}
.icon-social_deviantart_square:before {
    content: "\ea2b";
}
.icon-social_dribbble:before {
    content: "\ea2c";
}
.icon-social_dribbble_circle:before {
    content: "\ea2d";
}
.icon-social_dribbble_square:before {
    content: "\ea2e";
}
.icon-social_facebook:before {
    content: "\ea2f";
}
.icon-social_facebook_circle:before {
    content: "\ea30";
}
.icon-social_facebook_square:before {
    content: "\ea31";
}
.icon-social_flickr:before {
    content: "\ea32";
}
.icon-social_flickr_circle:before {
    content: "\ea33";
}
.icon-social_flickr_square:before {
    content: "\ea34";
}
.icon-social_googledrive:before {
    content: "\ea35";
}
.icon-social_googledrive_alt2:before {
    content: "\ea36";
}
.icon-social_googledrive_square:before {
    content: "\ea37";
}
.icon-social_googleplus:before {
    content: "\ea38";
}
.icon-social_googleplus_circle:before {
    content: "\ea39";
}
.icon-social_googleplus_square:before {
    content: "\ea3a";
}
.icon-social_instagram:before {
    content: "\ea3b";
}
.icon-social_instagram_circle:before {
    content: "\ea3c";
}
.icon-social_instagram_square:before {
    content: "\ea3d";
}
.icon-social_linkedin:before {
    content: "\ea3e";
}
.icon-social_linkedin_circle:before {
    content: "\ea3f";
}
.icon-social_linkedin_square:before {
    content: "\ea40";
}
.icon-social_myspace:before {
    content: "\ea41";
}
.icon-social_myspace_circle:before {
    content: "\ea42";
}
.icon-social_myspace_square:before {
    content: "\ea43";
}
.icon-social_picassa:before {
    content: "\ea44";
}
.icon-social_picassa_circle:before {
    content: "\ea45";
}
.icon-social_picassa_square:before {
    content: "\ea46";
}
.icon-social_pinterest:before {
    content: "\ea47";
}
.icon-social_pinterest_circle:before {
    content: "\ea48";
}
.icon-social_pinterest_square:before {
    content: "\ea49";
}
.icon-social_rss:before {
    content: "\ea4a";
}
.icon-social_rss_circle:before {
    content: "\ea4b";
}
.icon-social_rss_square:before {
    content: "\ea4c";
}
.icon-social_share:before {
    content: "\ea4d";
}
.icon-social_share_circle:before {
    content: "\ea4e";
}
.icon-social_share_square:before {
    content: "\ea4f";
}
.icon-social_skype:before {
    content: "\ea50";
}
.icon-social_skype_circle:before {
    content: "\ea51";
}
.icon-social_skype_square:before {
    content: "\ea52";
}
.icon-social_spotify:before {
    content: "\ea53";
}
.icon-social_spotify_circle:before {
    content: "\ea54";
}
.icon-social_spotify_square:before {
    content: "\ea55";
}
.icon-social_stumbleupon_circle:before {
    content: "\ea56";
}
.icon-social_stumbleupon_square:before {
    content: "\ea57";
}
.icon-social_tumbleupon:before {
    content: "\ea58";
}
.icon-social_tumblr:before {
    content: "\ea59";
}
.icon-social_tumblr_circle:before {
    content: "\ea5a";
}
.icon-social_tumblr_square:before {
    content: "\ea5b";
}
.icon-social_twitter:before {
    content: "\ea5c";
}
.icon-social_twitter_circle:before {
    content: "\ea5d";
}
.icon-social_twitter_square:before {
    content: "\ea5e";
}
.icon-social_vimeo:before {
    content: "\ea5f";
}
.icon-social_vimeo_circle:before {
    content: "\ea60";
}
.icon-social_vimeo_square:before {
    content: "\ea61";
}
.icon-social_wordpress:before {
    content: "\ea62";
}
.icon-social_wordpress_circle:before {
    content: "\ea63";
}
.icon-social_wordpress_square:before {
    content: "\ea64";
}
.icon-social_youtube:before {
    content: "\ea65";
}
.icon-social_youtube_circle:before {
    content: "\ea66";
}
.icon-social_youtube_square:before {
    content: "\ea67";
}
.icon-mobile3:before {
    content: "\e000";
}
.icon-laptop2:before {
    content: "\e001";
}
.icon-desktop:before {
    content: "\e002";
}
.icon-tablet2:before {
    content: "\e003";
}
.icon-phone4:before {
    content: "\e004";
}
.icon-document:before {
    content: "\e005";
}
.icon-documents:before {
    content: "\e006";
}
.icon-search3:before {
    content: "\e007";
}
.icon-clipboard4:before {
    content: "\e008";
}
.icon-newspaper2:before {
    content: "\e009";
}
.icon-notebook:before {
    content: "\e00a";
}
.icon-book-open:before {
    content: "\e00b";
}
.icon-browser:before {
    content: "\e00c";
}
.icon-calendar4:before {
    content: "\e00d";
}
.icon-presentation2:before {
    content: "\e00e";
}
.icon-picture2:before {
    content: "\e00f";
}
.icon-pictures4:before {
    content: "\e010";
}
.icon-video:before {
    content: "\e011";
}
.icon-camera4:before {
    content: "\e012";
}
.icon-printer2:before {
    content: "\e013";
}
.icon-toolbox:before {
    content: "\e014";
}
.icon-briefcase3:before {
    content: "\e015";
}
.icon-wallet2:before {
    content: "\e016";
}
.icon-gift3:before {
    content: "\e017";
}
.icon-bargraph:before {
    content: "\e018";
}
.icon-grid3:before {
    content: "\e019";
}
.icon-expand2:before {
    content: "\e01a";
}
.icon-focus:before {
    content: "\e01b";
}
.icon-edit2:before {
    content: "\e01c";
}
.icon-adjustments:before {
    content: "\e01d";
}
.icon-ribbon:before {
    content: "\e01e";
}
.icon-hourglass2:before {
    content: "\e01f";
}
.icon-lock2:before {
    content: "\e020";
}
.icon-megaphone3:before {
    content: "\e021";
}
.icon-shield2:before {
    content: "\e022";
}
.icon-trophy3:before {
    content: "\e023";
}
.icon-flag3:before {
    content: "\e024";
}
.icon-map22:before {
    content: "\e025";
}
.icon-puzzle:before {
    content: "\e026";
}
.icon-basket2:before {
    content: "\e027";
}
.icon-envelope3:before {
    content: "\e028";
}
.icon-streetsign:before {
    content: "\e029";
}
.icon-telescope:before {
    content: "\e02a";
}
.icon-gears:before {
    content: "\e02b";
}
.icon-key23:before {
    content: "\e02c";
}
.icon-paperclip2:before {
    content: "\e02d";
}
.icon-attachment2:before {
    content: "\e02e";
}
.icon-pricetags:before {
    content: "\e02f";
}
.icon-lightbulb:before {
    content: "\e030";
}
.icon-layers:before {
    content: "\e031";
}
.icon-pencil23:before {
    content: "\e032";
}
.icon-tools2:before {
    content: "\e033";
}
.icon-tools-2:before {
    content: "\e034";
}
.icon-scissors2:before {
    content: "\e035";
}
.icon-paintbrush:before {
    content: "\e036";
}
.icon-magnifying-glass:before {
    content: "\e037";
}
.icon-circle-compass:before {
    content: "\e038";
}
.icon-linegraph:before {
    content: "\e039";
}
.icon-mic3:before {
    content: "\e03a";
}
.icon-strategy:before {
    content: "\e03b";
}
.icon-beaker:before {
    content: "\e03c";
}
.icon-caution:before {
    content: "\e03d";
}
.icon-recycle:before {
    content: "\e03e";
}
.icon-anchor2:before {
    content: "\e03f";
}
.icon-profile-male:before {
    content: "\e040";
}
.icon-profile-female:before {
    content: "\e041";
}
.icon-bike3:before {
    content: "\e042";
}
.icon-wine:before {
    content: "\e043";
}
.icon-hotairballoon:before {
    content: "\e044";
}
.icon-globe3:before {
    content: "\e045";
}
.icon-genius:before {
    content: "\e046";
}
.icon-map-pin:before {
    content: "\e047";
}
.icon-dial:before {
    content: "\e048";
}
.icon-chat4:before {
    content: "\e049";
}
.icon-heart4:before {
    content: "\e04a";
}
.icon-cloud22:before {
    content: "\e04b";
}
.icon-upload32:before {
    content: "\e04c";
}
.icon-download4:before {
    content: "\e04d";
}
.icon-target22:before {
    content: "\e04e";
}
.icon-hazardous:before {
    content: "\e04f";
}
.icon-piechart:before {
    content: "\e050";
}
.icon-speedometer:before {
    content: "\e051";
}
.icon-global:before {
    content: "\e052";
}
.icon-compass23:before {
    content: "\e053";
}
.icon-lifesaver:before {
    content: "\e054";
}
.icon-clock3:before {
    content: "\e055";
}
.icon-aperture:before {
    content: "\e056";
}
.icon-quote3:before {
    content: "\e057";
}
.icon-scope:before {
    content: "\e058";
}
.icon-alarmclock2:before {
    content: "\e059";
}
.icon-refresh2:before {
    content: "\e05a";
}
.icon-happy3:before {
    content: "\e05b";
}
.icon-sad22:before {
    content: "\e05c";
}
.icon-facebook3:before {
    content: "\e05d";
}
.icon-twitter3:before {
    content: "\e05e";
}
.icon-googleplus:before {
    content: "\e05f";
}
.icon-rss3:before {
    content: "\e060";
}
.icon-tumblr3:before {
    content: "\e061";
}
.icon-linkedin3:before {
    content: "\e062";
}
.icon-dribbble3:before {
    content: "\e063";
}

